<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Mealdeals Membership</h1>
</div>

<div class="container pricing_detail">
    Ohhh... Something happened. Transaction not successful
</div>
<div>
    <a href="{% url 'join' %}" class="btn btn-success rounded-0 my-2">
        <span class="icon mr-2">
            <i class="fas fa-angle-left"></i>
        </span>
        <span class="text-uppercase">Back to Subscriptions</span>
    </a>
</div>

{% endblock %}