<!DOCTYPE html>
<html style="height:100%;" lang="en">
{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- about page for users to know what services we provide -->
<body class="d-flex flex-column h-100">
    <div class="about flex-grow-1">
        <h1>Services</h1>
        <div class="row ">
            <div class="card border-0 col-sm-6 col-md-4 title_spacing ">
                <h4 class="fas fa-mobile-alt card-header "> &nbsp Digital Marketing</h4>
                <p class="card-text">Digital marketing is incredibly important these days as the use of
                    the Internet, mobile devices, social media, search engines, and
                    other channels are in high demand. My aim as a digital marketer is
                    to reach consumers easily by being visible to them on their
                    connected devices and to use visually appealing content to gain <br>
                    more engagement from my audience.</p>
            </div>
            <div class="card border-0 col-sm-6 col-md-4 title_spacing">
                <h4 class="fas fa-compass card-header "> &nbsp SEO</h4>
                <p class="card-text">
                    Search engine optimization (SEO) is the process of growing the
                    quality and quantity of website traffic by increasing the
                    visibility of a website or web page to users of a web search
                    engine so that your business listing appears above your
                    competitors for organic results.
                </p>
            </div>
            <div class="card border-0 col-sm-6 col-md-4 title_spacing">
                <h4 class="fas fa-palette card-header">&nbsp Content Creation</h4>
                <p class="card-text"> Content creation is the process of generating ideas that appeal to
                    your clientele and customers when creating written or visual
                    content around products and services and making that information
                    accessible to your audience as a blog, video, infographic, etc. We pride ourselves on
                    maximizing your portfolio and give you fantastic content you can use on any platform
                </p>
            </div>
        </div>
    </div>
    <!-- Allow to users to understand our professional background -->
    <div class="about flex-grow-1">
        <h1>Working for you</h1>
        <div class="row ">
            <div class="card border-0 col-sm-6 col-md-4 title_spacing">
                <h4 class="fas fa-comments-dollar card-header "> &nbsp Marketing Gurus</h4>
                <p> Our team has 22 years Marketing experince to help you build your brand </p>
            </div>
            <div class="card border-0 col-sm-6 col-md-4 title_spacing">
                <h4 class="fas fa-concierge-bell card-header"> &nbsp Hoteliers</h4>
                <p> Our Team has 18 years Restaurant and Hotel experience get some great ideas to boost your business
                </p>
            </div>
            <div class="card border-0 col-sm-6 col-md-4 title_spacing">
                <h4 class="fas fa-database card-header"> &nbsp Developers</h4>
                <p> Our Team has 16 years Website design and analylitical experience </p>
            </div>
        </div>
    </div>
</body>

</html>
{% endblock %}