<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div>
<h1>Services</h1>
<div class="row">
<div class="col-md-4 ">
    <span class="fas fa-mobile-alt"></span>
    <h4>Digital Marketing</h4>
    <p>Digital marketing is incredibly important these days as the use of
              the Internet, mobile devices, social media, search engines, and
              other channels are in high demand. My aim as a digital marketer is
              to reach consumers easily by being visible to them on their
              connected devices and to use visually appealing content to gain <br>
              more engagement from my audience.</p>
</div>
<div class="col-md-4 ">
    <span class="fas fa-compass"></span>
    <h4>SEO</h4>
    <p>
        Search engine optimization (SEO) is the process of growing the
              quality and quantity of website traffic by increasing the
              visibility of a website or web page to users of a web search
              engine so that your business listing appears above your
              competitors for organic results.
    </p>
</div>
<div class="col-md-4 ">
    <div class="col-md-4 ">
    <span class="fas fa-palette"></span>
    <h4>Content Creation</h4>
    <p> Content creation is the process of generating ideas that appeal to
              your clientele and customers when creating written or visual
              content around products and services and making that information
              accessible to your audience as a blog, video, infographic, etc. We pride ourselves on 
              maximizing your portfolio and give you fantastic content you can use on any platform</p>
</div>
</div>
</div>
</div>
<div>
<h1>Working for you</h1>
<div class="row">
<div class="col-md-4 ">
    <span class="fas fa-comments-dollar"></span>
    <h4>Marketing Gurus</h4>
    <p> Our team has 22 years Marketing experince to help you build your brand </p>
    </div>
<div class="col-md-4 ">
    <span class="fas fa-concierge-bell"></span>
    <h4>Hoteliers</h4>
    <p> Our Team has 18 years Restaurant and Hotel experience get some great ideas to boost your business </p>
    </div>
    <div class="col-md-4 ">
        <span class="fas fa-database"></span>
    <h4>Developers</h4>
    <p> Our Team has 16 years Website design and analylitical experience </p>
    </div>
</div>
</div>
</html>
{% endblock %}