<!DOCTYPE html>
<html style="height:100%;" lang="en">
{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<body class="d-flex flex-column h-100">
    <div class="about flex-grow-1">
        <h1>Services</h1>
        <div class="row ">
            <div class="card border-0 col-sm-6 col-md-4 title_spacing ">
                <h4 class="fas fa-mobile-alt card-header "> &nbsp Do you have to book a deal to claim the offer?</h4>
                <p class="card-text">
                    We have put together a comprehensive list, of offers from your fav restaurants in your town or city,
                    the listings provide the addresses of the restaurants and the offers available for the restaurants.
                    To take advantage of the offer all you need to do is to contact the restaurant and make a booking
                    for your visit, enquire from the staff if the deal would be available a t the time of the visit.
                    Some offers are time and date based therefore please check with the restaurant if your offer is
                    available for the time of your reservation.
                </p>
            </div>
            <div class="card border-0 col-sm-6 col-md-4 title_spacing">
                <h4 class="far fa-smile-wink card-header "> &nbsp How do you make a reservation for the deal?</h4>
                <p class="card-text">
                    you simply need to contact the restaurant either via telephone or email or any other alternative
                    contact details or contact methods that they have listed on this site within their listing
                </p>
            </div>
            <div class="card border-0 col-sm-6 col-md-4 title_spacing">
                <h4 class="fas fa-envelope-open-text card-header"> &nbsp Do you have to refer to this website to claim the offer and get
                    the deal in the restaurant?</h4>
                <p class="card-text">
                    Yes you will need to refer to the website when you arrive for your reservation to ensure that you
                    have booked within the timeframe that the offer is available
                    We do not take responsibility of the information listed on the site regarding offers, if a
                    restaurant has listed an offer and you arrived and booked a reservation with in the correct and
                    required timeframe and the restaurant denies availability of the offer to yourself, please contact
                    our team through the marketing gurus link on the website
                </p>
            </div>
        </div>
    </div>
    <div class="about flex-grow-1">
        <div class="row ">
            <div class="card border-0 col-sm-6 col-md-4 title_spacing">
                <h4 class="far fa-angry card-header ">  &nbsp What if I am unhappy with my experience at the
                    restaurant?</h4>
                <p>
                    As we are a listing service we do not take responsibility for your restaurant experience you are
                    welcome to contact the restaurant management team through the contact information and website links
                    on the listing and give them feedback on their experience
                </p>
            </div>
            <div class="card border-0 col-sm-6 col-md-4 title_spacing">
                <h4 class="fas fa-drumstick-bite card-header"> &nbsp  How many times can I take advantage of the offer in the
                    restaurant?</h4>
                <p>
                    The offers are time and date limited, therefore you should be able to take advantage of the offer
                    multiple times as long as you are adhering to the terms and conditions laid out by the restaurant
                </p>
            </div>
            <div class="card border-0 col-sm-6 col-md-4 title_spacing">
                <h4 class="far fa-bell card-header"> &nbsp  How do I get into contact with the meal deals team?</h4>
                <p>
                    You are more than welcome to contact us regarding getting your business listed, you can either
                    contact our team at mealdealsireland@gmail.com or alternatively you can fill in the marketing gurus
                    contact form on the website.
                    We do not take responsibility of the information listed on the site regarding offers, if a
                    restaurant has listed an offer and you arrived and booked a reservation with in the correct and
                    required timeframe and the restaurant denies availability of the offer to yourself, please contact
                    our team through the marketing gurus link on the website
                </p>
            </div>
        </div>
    </div>
    <div class="about flex-grow-1">
        <div class="row ">
            <div class="card border-0 col-sm-6 col-md-4 title_spacing">
                <h4 class="fas fa-concierge-bell card-header "> &nbsp How do I list my restaurant? </h4>
                <p>
                    It's super simple to get involved with our listing site. all you have to do is sign up!
                    Once you have signed up you will have to select one of the subscription options to open your profile portal to start adding your offers. 
                </p>
            </div>
            <div class="card border-0 col-sm-6 col-md-4 title_spacing">
                <h4 class="fab fa-cc-stripe card-header"> &nbsp How do subscriptions work?</h4>
                <p>
                    We have two awesome options for our newest members, we charge you a once off admin fee and only start charging you a monthly subscription fee after the first six months.
                    For more info you can either contact our team at mealdealsireland@gmail.com or alternatively you can fill in the marketing gurus
                    contact form on the website.
                </p>
            </div>
            <div class="card border-0 col-sm-6 col-md-4 title_spacing">
                <h4 class="fas fa-donate card-header"> &nbsp How do I list my offers for my restaurant?</h4>
                <p>
                    Adding and advertising your deals and offers have never been easier! Once you have subscribed you will be able to access your profile portal.
                    All you need to add, edit and delete any of your deals are available to you. You can also update your Restaurant details and contact info
                    to ensure that your newest clients are able to contact you.
                </p>
            </div>
        </div>
    </div>
</body>

</html>
{% endblock %}