<!DOCTYPE html>
<html style="height:100%;" lang="en">
{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<body class="d-flex flex-column h-100">
<div class="about flex-grow-1">
    <h1>Services</h1>
    <div class="row ">
        <div class="card border-0 col-sm-6 col-md-4 title_spacing ">
            <h4 class="fas fa-mobile-alt card-header "> &nbsp Digital Marketing</h4>
            <p class="card-text">

            </p>
        </div>
        <div class="card border-0 col-sm-6 col-md-4 title_spacing">
            <h4 class="fas fa-compass card-header "> &nbsp SEO</h4>
            <p class="card-text">
                
            </p>
        </div>
        <div class="card border-0 col-sm-6 col-md-4 title_spacing">
            <h4 class="fas fa-palette card-header">&nbsp Content Creation</h4>
            <p class="card-text"> 
            </p>
        </div>
    </div>
</div>
<div class="about flex-grow-1">
    <div class="row ">
        <div class="card border-0 col-sm-6 col-md-4 title_spacing">
            <h4 class="fas fa-comments-dollar card-header "> &nbsp Marketing Gurus</h4>
            <p>  

            </p>
        </div>
        <div class="card border-0 col-sm-6 col-md-4 title_spacing">
            <h4 class="fas fa-concierge-bell card-header"> &nbsp Hoteliers</h4>
            <p>  

            </p>
        </div>
        <div class="card border-0 col-sm-6 col-md-4 title_spacing">
            <h4 class="fas fa-database card-header"> &nbsp Developers</h4>
            <p>  

            </p>
        </div>
    </div>
</div>
<div class="about flex-grow-1">
    <div class="row ">
        <div class="card border-0 col-sm-6 col-md-4 title_spacing">
            <h4 class="fas fa-comments-dollar card-header "> &nbsp Marketing Gurus</h4>
            <p>  

            </p>
        </div>
        <div class="card border-0 col-sm-6 col-md-4 title_spacing">
            <h4 class="fas fa-concierge-bell card-header"> &nbsp Hoteliers</h4>
            <p>  

            </p>
        </div>
        <div class="card border-0 col-sm-6 col-md-4 title_spacing">
            <h4 class="fas fa-database card-header"> &nbsp Developers</h4>
            <p>  
                
            </p>
        </div>
    </div>
</div>
</body>
</html>
{% endblock %}