<!DOCTYPE html>

{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-7 col-md-6 d-none d-lg-flex">
            <ul>
            <h1 class="display-4 text-warning">
                EAT OUT FOR LESS!
            </h1></li>
            <h4>Gourmet restaurants in your city.</h4>
            </ul>
        </div>
    </div>
    <div class="row bg-white">
        <form method="GET" action="{% url 'home' %}">
            <div class="input-group w-100">
                <input class="form-control border border-black rounded=0" type="text" name="q"
                    placeholder="Search deals here">
                <div class="input-group-append">
                    <button class="form-control btn btn-black border border rounded=0" type="submit">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--Trending Deals on the site-->
        <div class="deal_body row">
            {% for deal in deals %}
            <div class="col-sm-6 col-md-4 col-lg-3">
                <blockquote>
                    <div>
                        <div class="deal_card">
                            <h2><strong>{{ deal.name }}</strong></h2>
                            <img src="{{ deal.image.url }}" class="card_img card-img-top" alt="Card image cap" />
                            <div class="card-body mb-3">
                                <h3>{{ deal.restaurant_name }}</h3> <br>
                                <h4>€{{ deal.price }}</h4> <br>
                                {{ deal.name }} <br>
                                {{ deal.category }} <br>
                                
                                <br>
                                <a href="{% url 'deals_display' deal.id %}" class="btn btn-primary">Go to Deal</a>
                                
                            </div>
                        </div>
                    </div>
                </blockquote>
            </div>
            {% endfor %}
        </div>
{% endblock %}
