<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-7 col-md-6">
            <h1 class="display-4 text-warning">
                Thousands of deals all over the world
            </h1>
        </div>
    </div>
    <div class="row bg-white">
            <form method="GET" action="">
                <div class="input-group w-100">
                    <input class="form-control border border-black rounded=0" type="text" name="q"
                        placeholder="Search deals here">
                    <div class="input-group-append">
                        <button class="form-control btn btn-black border border rounded=0" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
</div>
<!--Trending Deals on the site-->
  <div class="container">
    <div class="row">
      <!-- {% for recipe in recipes %} -->

      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="deal_card">
          <img
            src="#"
            class="card_img card-img-top"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">deals go here</h5>
            <p class="card-text">
              Category <br />
              Deal short discription<br />
            </p>
            <a
              href=""
              class="btn btn-primary"
              >Go to Deal</a
            >
          </div>
        </div>
      </div>
      <!-- {% endfor %} -->
    </div>
  </div>
{% endblock %}
</html>