<!DOCTYPE html>

{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="#" style="background-color: rgba(70, 99, 226, 0.774);"></div>
<div class="d-flex justify-content-center align-items-center h-100">
    <div class="#">
        <h1 class="mb-3">Profile</h1>
    </div>
</div>
<div class="row">
    <div>
        <a href="{% url 'add_deal' %}" class="btn btn-primary">Add a new Deal</a>
    </div>
</div>
<div class="row">
    {% for deal in deals %}
    <div class="col-sm-6 col-md-4">
        <blockquote>
            <label>{{ deal.name }}</label>
            <div class="">
                <div class="deal_card">
                    <img src="{{ deal.image.url }}" class="card_img card-img-top" alt="Card image cap" />
                    <div class="card-body mb-3">
                        {{ deal.restaurant_name }} <br>
                        {{ deal.name }} <br>
                        {{ deal.category }} <br>
                        {{ deal.price }}
                        <br>
                        <a href="{% url 'deals_display' deal.id %}" class="btn btn-primary">Go to Deal</a>
                        <a href="{ url 'edit_deal', deal_id=deal._id }" class="btn btn-warning">Edit</a>
                        <a href="{ url 'delete_deal', deal_id=deal._id }" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </blockquote>
    </div>
    {% endfor %}
</div>
{% endblock %}
