@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

html {
    height: 100%;
}

body {
    height: calc(100vh -164px);
    color: black;
    font-family: 'Oswald';
}

.nav_border {
    overflow: hidden;
    background-color: white;
}

.logo_pic {
    height: 5rem;
    width: 5rem;
    position: relative;
  border-radius: 1em;
  margin-top: 3px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo_font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.text-black {
    color: black;
}

.text_red {
    color: rgb(197, 20, 20) !important;
}

.border-black {
    border: black 1px solid !important;
}

/* footer styling*/
.footer {
    font-family: 'Oswald';
    padding: 5px;
  min-width: 100%;
  max-width: 100%;
  background: #ffffff;
  height: auto;
  text-align: center;
}

/* copyright styling*/
#copyright {
    font-family: 'Oswald';
  background-color: rgb(197, 20, 20);
  padding: 5%;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
    margin-bottom: 10px;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        margin-bottom: 10px;
    }

    .header-container {
        padding-top: 164px;
        margin-bottom: 10px;
    }
}

/* push down container for mobile or small tablet use */
@media (min-width: 300px) {
  .header-container {
        padding-top: 90px;
    }
}

/* -------------------------------- deal display cards */

/* deal border styling*/
.deal_card {
  width: 100%;
  border: 30px;
  border-width: 3px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-style: solid;
  text-align: left;
  padding: 20px;
  border-radius: 10px;
  font-family: 'Oswald'
}

/* deal image styling*/
.card_img {
  border-radius: 10px;
  background-size: cover;
  max-height: 20em;
}

