<!DOCTYPE html>
<li class="list-inline-item">
    <a class="text_red nav-link nav-link d-block d-lg-none" href="{% url 'home' %}" id="home-link">
        <div class="text-center">
            <div><i class="fas fa-home"></i></div>
            <p class="my=0">Home</p>
        </div>
    </a>
</li>
<li class="list-inline-item">
    <a class="text_red nav-link nav-link d-block d-lg-none" href="{% url 'contact_us' %}" id="user-request"
        aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-tools"></i></div>
            <p class="my=0">Marketing Gurus</p>
        </div>
    </a>
</li>
<li class="list-inline-item dropdown">
    <a class="text_red nav-link d-block d-lg-none" href="" id="user-options" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-user fa-lg"></i></div>
            <p class="my=0">Restuaranteurs</p>
        </div>
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="user-options">
        {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
        <a href="{% url 'profile' %}" class="dropdown-item">Site management</a>
        {% endif %}
        <a class="dropdown-item" href="{% url 'join' %}">Subscriptions</a>
        <a class="dropdown-item" href="{% url 'profile' %}">My profile</a>
        <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
        {% else %}
        <a class="dropdown-item" href="{% url 'login' %}">Log In</a>
        {% endif %}
        {% if user.is_authenticated == False %}
        <a class="dropdown-item" href="{% url 'signup' %}">Sign up</a>
        {% endif %}
    </div>
</li>
<li class="list-inline-item">
    <a class="text_red nav-link d-block d-lg-none" href="{% url 'about' %}" id="about" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-bullhorn"></i></div>
            <p class="my=0">About Us</p>
        </div>
    </a>
</li>