<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}
    <div class="card-deck products">
        {% for membershiptier in memberships %}
            <div class="card">
                {% include 'templates/product_card.html' with membershiptier=MembershipTier %}
                <div class="card-footer">
                    <form method="post" action="{% url 'checkout' pk=MembershipTier.pk %}">
                        {% csrf_token %}
                        <div class="input-group">
                        <span class="input-group-btn">
                      
                            <button class="btn btn-default" type="submit">Checkout</button>
                     
                        </span>
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

