<!DOCTYPE html>
<html style="height:100%;" lang="en">
{% extends 'base.html' %}
{% block content %}
<body class="d-flex flex-column h-100">

<div class="card-deck product_card flex-grow-1">
    {% for product in products %}
    <div class="card product_inner_card ">
        <div class="card-header text-center" style="color: rgb(197, 20, 20);">
            <h3>{{ product.name }}</h3>
        </div>
        <div class="card-body">
            <div class="card-text product-description">{{ product.description }}</div>
            <div class="card-text price">
                {{ product.price }}
            </div>
        </div>
        <div class="card-footer">
            <form method="post" action="{% url 'checkout' %}">
                {% csrf_token %}
                <div class="input-group">
                    <span class="input-group-btn">

                        <button class="btn btn-success" type="submit">Secure Checkout</button>

                    </span>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
    
</body>
{% endblock %}
</html>