<!DOCTYPE html>

{% load static %}

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'media/img/favicon.png' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/cb686f92e0.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>


    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>MealDeals {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <!-- navbar main header -->
    <header class="container-fluid fixed-top nav_border mobile_nav">
        <!--Grid image-->
        <div class="float-left my-auto py-1 py-lg-0 text-center text-lg-left">
            <a href="{% url 'home' %}"><img class="logo_pic" src="{% static 'media/img/logo.jpg' %}" alt=""></a>
        </div>
        <div class="float-right d-none d-lg-flex">
            <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                <li class="list-inline-item">
                    <div id="topnav">
                        <div class="col-12 col-lg-3 my-auto py-1 py-lg-0 text-center text-lg-left">
                            <!--Grid column-->
                            <a href="{% url 'home' %}" class="nav-link main-logo-link">
                                <h1 class="logo_font text_red my=0"><strong>Meal</strong>Deals</h1>
                            </a>
                        </div>
                    </div>
                </li>
                <!--Grid column-->
                <li class="list-inline-item">
                    <a class="text-black nav-link" href="{% url 'contact_us' %}" id="user-request"
                        aria-expanded="false">
                        <div class="text-center">
                            <div><i class="fas fa-tools"></i></div>
                            <p class="my=0">Marketing Gurus</p>
                        </div>
                    </a>
                </li>
                <!--Grid column-->
                <li class="list-inline-item dropdown">
                    <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                            <div><i class="fas fa-user fa-lg"></i></div>
                            <p class="my=0">Restuaranteurs</p>
                        </div>
                    </a>
                    <!-- Dropdown for members only -->
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <a href="{% url 'profile' %}" class="dropdown-item">Site management</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'join' %}">Subscriptions</a>
                        <a class="dropdown-item" href="{% url 'profile' %}">My profile</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                        {% else %}
                        <a class="dropdown-item" href="{% url 'login' %}">Log In</a>
                        {% endif %}
                        {% if user.is_authenticated == False %}
                        <a class="dropdown-item" href="{% url 'signup' %}">Sign up</a>
                        {% endif %}
                    </div>
                </li>
                <!--Grid column-->
                <li class="list-inline-item">
                    <a class="text-black nav-link" href="{% url 'about' %}" id="about" aria-expanded="false">
                        <div class="text-center">
                            <div><i class="fas fa-bullhorn"></i></div>
                            <p class="my=0">About Us</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="row bg-white">
            <!-- toggler button -->
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/main_nav.html' %}
            </nav>
        </div>
    </header>
    <!-- Message containers -->
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}

    {% endblock %}

    {% block content %} {% endblock %}
    <!-- Footer 
        FAQ = Href link to FAQ
        Social = Href to social links
        Settings = setup settings and change language
        Copyright = Copyright expression-->

    <footer class="navbar-static-bottom bg-light text-center text-sm-left" style="font: 1.5em SpicyRice;">
        <!-- Grid container -->
        <div class="footer">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0 d-none d-lg-flex">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="{% url 'faq' %}" class="text-dark text-uppercase">
                                <h4>FAQ's</h4>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0 d-none d-lg-flex">
                    <ul class="list-unstyled ">
                        <li>
                            <a href="https://www.termsfeed.com/live/f61d1af3-785c-49a8-b9a9-63514856a951"
                                target="_blank" class="hvr-glow text-dark social">
                                <h4>Terms & Conditions</h4>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0 d-none d-lg-flex">
                    <ul class="list-unstyled mb-0 ">
                        <li>
                            <a href="{% url 'privacy' %}" class="text-dark social">
                                <h4>Privacy Policy</h4>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase social">Connect</h5>
                    <ul class="list-inline social-links">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/mealdeals.ie/" class="hvr-glow" target="_blank">
                                <i class="fa fa-facebook" aria-hidden="true"></i><span
                                    class="sr-only">facebook</span></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/mealdealsie/" class="hvr-glow" target="_blank">
                                <i class="fa fa-twitter" aria-hidden="true"></i><span class="sr-only">twitter</span></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/mealdealsireland/" class="hvr-glow" target="_blank">
                                <i class="fa fa-instagram" aria-hidden="true"></i><span
                                    class="sr-only">instagram</span></a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
            <!-- Copyright -->
            <div class="text-center p-3" style="font-family: 'Oswald'; background-color: rgb(197, 20, 20);">
                © 2021 Copyright:
                <a class="text-dark">all rights reserved <strong>Meal</strong>Deals</a>
            </div>
        </div>
        <!-- Copyright -->
    </footer>


    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    <script>$('.carousel').carousel({
            interval: 2000
        })</script>

    {% endblock %}


</body>

</html>